<!doctype html>
  <head>
    <title>RastaSteady</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="static/js/jquery-3.5.1.min.js"></script>
    <script src="static/js/upload.js"></script>
  </head>

  <body>
    <p style="text-align: center;">
      <img src="static/images/logo-rastasteady.png" alt="logo" width="508" height="118" />
    </p>
    <nav>
      <p style="text-align: center;">
        RastaSteady es un software de estabilizacion de video para el sistema DJI FPV digital
      </p>
    </nav>

    <section class="content">
      <header>
        <p id="title"><strong>Sube el video a estabilizar<br>Recuerda que tiene que ser en formato .mp4 y ocupar menos de 20Mb</strong></p>
        <p id="queue_status"></p>
      </header>

{% for message in get_flashed_messages() %}
      <div class="flash">
        {{ message }}
      </div>
{% endfor %}

      <form id="upload_form" enctype="multipart/form-data" method="post">
        <input type="file" name="file" id="file">
        <input type="button" value="Upload File" onclick="uploadFile()">
      </form>

      <progress id="progressBar" value="0" max="100" style="width:300px;display:none"></progress>
      <p id="loaded_n_total"></p>
      <h3 id="status"></h3>
    </section>
  </body>
</html>


